<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InterviewExerciseProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyExcelConn" connectionString="Dsn=Excel 32;dbq=Items_To_Add.xls;defaultdir=..\..\DataSources; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc"  />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="GetItems" connectionString="MyExcelConn" dataTableName="Items$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
  <applicationSettings>
    <InterviewExerciseProject.Properties.Settings>
      <setting name="UrlPath" serializeAs="String">
        <value>..\..\DataSources\Items_To_Add.xls</value>
      </setting>
      <setting name="UrlSheet" serializeAs="String">
        <value>URL</value>
      </setting>
      <setting name="UrlRow" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UrlColumn" serializeAs="String">
        <value>1</value>
      </setting>
    </InterviewExerciseProject.Properties.Settings>
  </applicationSettings>
</configuration>